body {
    margin: 0;
    font-family: "Sofadi One", system-ui;
    height: 100vh;
}

.sidebar {
    width: 260px;
    background: #f3f3f3;
    border-right: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.email-item {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(222, 222, 222);
    margin: 5px;
}

.email-item:hover {
    background: #e5e5e5;
}

.email-item.active {
    background: #d7eaff;
}

.content {
    transition: all 1s;
    width: 100%;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

h2 {
    margin-top: 0;
}

.bold {
    font-weight: bold;
}

.hidden {
    opacity: 0;
}

.app-header {
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 1400% 1400%;
    animation: rainbowBG 5s ease infinite;
}

@keyframes rainbowBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.app-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container {
    display: flex;
    height: 100%;
}

.email-item p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapped-title {
    text-decoration: underline;
    background-color: red;
    color: yellow;
}

.wrapped-message {
    font-size: 0.85rem;
    color: #6a6a75;
}